<div class="team team-summary team-summary-large">
  {{ if .Params.image }}
  <div class="team-image">
    <img alt="Photo of {{ .Title }}" class="img-fluid mb-2" src="{{ .Params.image | relURL }}" />
  </div>
  {{ end }}
  <div class="team-meta">
    <h2 class="team-name">
    <a href="{{ .Params.homepage }}">{{ .Title }}</a>
    </h2>
    <p class="team-description">{{ .Params.jobtitle }}</p>
    <p class="team-description">{{ .Params.department }}</p>
  </div>
  <div class="team-content">    {{ .Content }}</div>
</div>