<div class="summary summary-large">
  {{ if .Params.image }}
  <div class="image">
    <a href="{{ .Params.homepage }}">
      <img alt="Photo of {{ .Title }}" class="img-fluid mb-2" src="{{ .Params.image | relURL }}" />
    </a>
  </div>
  {{ end }}
  <div class="meta">
    {{ if .Params.homepage }}
    <h2 class="team-name">
    <a href="{{ .Params.homepage }}">{{ .Title }}</a>
    </h2>
    {{ else }}
    <h2 class="team-name">
    <a> {{ .Title }}</a>
    </h2>
    {{ end }}
    <p class="title">{{ .Params.jobtitle }}</p>
    <p class="department">{{ .Params.department }}
      {{if .Params.affiliation}} 
        ({{ .Params.affiliation }})
      {{end}}
  </p>
  </div>
  <div class="content">    {{ .Content }}</div>
</div>