<div class="summary summary-large">
  <div class="meta">
    <h2 class="event-name">{{ .Title }}</h2>
    <p>{{ dateFormat "Monday, January 2, 2006" .Params.talkdate }}</p>
    <p>Speaker:    
    {{if .Params.speakerlink}} 
      <a href="{{ .Params.speakerlink}}">{{ .Params.speaker }}</a>
    {{else}}
      {{ .Params.speaker }}
    {{end}}
    </p>  </div>
  <div>
    <input id="{{ .File.UniqueID }}" class="toggle" type="checkbox">
    <label for="{{ .File.UniqueID }}" class="lbl-toggle">Abstract</label>
    <div class="collapsible-content">
      <div class="content"> {{ .Content }}</div>
    </div>
  </div>

</div>
