{{ define "body_classes" }}page-team-list{{ end }}

{{ define "main" }}
<div class="intro-small">
  <div class="container">
    <div class="row">
        {{ .Content }}
      </div>
  </div>
</div>

<div class="container">
  {{ range .Pages.ByParam "talkdate" }}
    <div class="row">
      {{/* Only display future talks at build time */}}
      {{ $t := time .Params.talkdate}}  
      {{if ($t.After now)}}
        <div class="col-12 col-md-12 mb-6">{{ .Render "summary-events" }}</div>
      {{ end }}
    </div>
  {{ end }}
</div>
{{ end }}