{{ define "body_classes" }}page-team-list{{ end }}

{{ define "main" }}
<div class="intro-small">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img
          alt=""
          class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>
</div>


<div class="container">
    {{ range $index, $page := .Pages.ByWeight }}
      <div class="row">
        {{if not (modBool $index 2)}}
          <div class="col-12 col-md-7 col-lg-6 order-2 order-md-2 mb-8">
            {{ .Render "summary-research" }}
          </div>
          {{ if .Params.intro_image }}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-1 mb-8 position-relative">
              <img alt="" class="research-image" src="{{ .Params.intro_image | relURL }}"/>
            </div>
          {{ end }}
        {{ else }}
          <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1 mb-8">
            {{ .Render "summary-research" }}
          </div>
          {{ if .Params.intro_image }}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 mb-8 position-relative">
              <img alt="" class="research-image" src="{{ .Params.intro_image | relURL }}"/>
            </div>
          {{ end }}
        {{ end }}

       </div>
    {{ end }}
</div>

{{ end }}

